flask==3.0.2
gunicorn==21.2.0
pymongo==4.6.2
python-dotenv==1.0.0
pytube==15.0.0
youtube-transcript-api==0.6.1
google-generativeai==0.3.2
beautifulsoup4
requests
spacy
sumy
nltk
scikit-learn
d3graph
pandas
numpy
scipy
dtw-python
mlxtend
Flask-Login
Werkzeug
translate
cryptography
networkx
itsdangerous
lxml
